<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkbucket.linkbucket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:screenOrientation="portrait"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NavView">
        <activity android:name="com.linkbucket.linkbucket.ReceivedShareCardView"></activity>
        <activity android:name="com.linkbucket.linkbucket.ReceivedSharesActivity" />
        <activity android:name="com.linkbucket.linkbucket.ShareHistoryScreen" />
        <activity android:name="com.linkbucket.linkbucket.CardsOfCollection" />
        <activity android:name="com.linkbucket.linkbucket.CollectionActivity" />
        <activity android:name="com.linkbucket.linkbucket.UserProfile" />
        <activity android:name="com.linkbucket.linkbucket.MainUserDashboard" />
        <activity android:name="com.linkbucket.linkbucket.SignUpScreen" />
        <activity android:name="com.linkbucket.linkbucket.LoginScreen" />
        <activity android:name="com.linkbucket.linkbucket.LoginSignupScreen" />
        <activity android:name="com.linkbucket.linkbucket.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>